---
import { Icon } from "astro-icon";

const phone = "342 3753864";
const addr1 = "Via Valgelata 8, Rocca d'Arazzo (AT)";
const addr1Link = "https://goo.gl/maps/J9anX6KvHAYw4kD46";
const addr2 = "Via Giuseppe Ferrero 12, Asti (AT)";
const addr2Link = "https://goo.gl/maps/rMtqjUT4EiQFFVcf9";
const email = "paoloserninift@gmail.com";
const facebook = 'https://www.facebook.com/people/Paolo-Sernini-FT/100090954271889/';
const instagram = 'https://www.instagram.com/paolosernini.ft/';
const twitter = 'https://twitter.com/PaoloSerniniFT';
const messenger = facebook;   //TODO: https://developers.facebook.com/docs/messenger-platform/discovery/m-me-links/

const phoneLink = (() => {
    return "+39" + phone.replaceAll(" ", "");
})();
---

<!-- Need to specify height or it overlows to fill the whole screen -->
<footer class="footer p-10 bg-neutral text-neutral-content h-min" id="contacts">
    <div>
        <a href={addr1Link} class="btn btn-ghost h-fit -ml-4" aria-label="indirizzo studio principale, icona">
            <Icon name="mdi:map-search" class="h-20 w-20"/>
        </a>
        <a href={addr1Link} class="link link-primary">
            {addr1}
        </a>
        <a href={addr2Link} class="link link-primary">
            {addr2}
        </a>
    </div>

    <div class="lg:mx-auto">
        <span class="footer-title opacity-70">sito web</span>
        <div class="lg:w-3/5 grid grid-cols-3 gap-y-1.5">
            <p class="col-span-2">
                Sviluppo e design a cura di <a class="link link-primary" href="https://github.com/ornato-t">Tommaso Ornato</a>.
            </p>
            <a href="https://github.com/ornato-t/paolo-sernini" class="lg:btn lg:btn-ghost w-min row-span-2 my-auto mx-auto lg:mx-0" aria-label="repository github">
                <Icon name="mdi:github" class="h-14 w-14" />
            </a>            
            <p class="col-span-2">
                Sito web libero e open source ai sensi della licenza <span class="italic">GNU General Public License v3.0</span>.
            </p>
        </div>
    </div>

    <div class="lg:mx-auto">
        <span class="footer-title pl-4 opacity-70">Social</span>
        <div class="grid grid-flow-col gap-4 w-min">
            <a href={facebook} class="lg:btn lg:btn-ghost" aria-label="facebook">
                <Icon name="ic:baseline-facebook" class="h-8 w-8" />
            </a>
            <a href={instagram} class="lg:btn lg:btn-ghost" aria-label="instagram">
                <Icon name="mdi:instagram" class="h-8 w-8" />
            </a>
            <a href={twitter} class="lg:btn lg:btn-ghost" aria-label="twitter">
                <Icon name="mdi:twitter" class="h-8 w-8" />
            </a>
            <a href={messenger} class="lg:btn lg:btn-ghost" aria-label="facebook messenger">
                <Icon name="mdi:facebook-messenger" class="h-8 w-8" />
            </a>
        </div>
    </div>

    <div class="lg:mx-auto">
        <span class="footer-title pl-4 opacity-70">Contatti</span>
        <div class="grid grid-flow-col gap-4">
            <a href={"tel:" + phoneLink} class="lg:btn lg:btn-ghost" aria-label="telefono, icona">
                <Icon name="bytesize:telephone" class="h-8 w-8" />
            </a>
            <a href={"https://wa.me/" + phoneLink} class="lg:btn lg:btn-ghost" aria-label="whatsapp">
                <Icon name="ic:baseline-whatsapp" class="h-8 w-8" />
            </a>

            <a class="my-auto link link-primary" href={"tel:" + phoneLink} aria-label="telefono, numero">
                {phone}
            </a>
        </div>
        <a class="grid grid-flow-col gap-4 mt-4 lg:mt-0" href={"mailto:"+email}>
            <span class="lg:btn lg:btn-ghost">
                <Icon name="ic:outline-alternate-email" class="h-8 w-8" />
            </span>
            
            <div class="my-auto link link-neutral">
                {email}
            </div>
        </a>
    </div>
</footer>
